@mixin gradient ($startColor: #FFF, $endColor: #000) {
  background: $startColor;
  background: -moz-linear-gradient(top,  $startColor 0%,  $endColor 100%);
  background: -webkit-linear-gradient(top,  $startColor 0%, $endColor 100%);
  background: linear-gradient(to bottom,  $startColor 0%, $endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr=' $endColor',GradientType=0 );
}

@mixin cp {
  cursor: pointer;
}

@mixin transition ($time: 0.5s) {
  transition: all $time;
  -webkit-transition: all $time;
}

@mixin scale ($scale: 1.2) {
  transform: scale($scale);
  -webkit-transform: scale($scale);
}

@mixin opacity ($opacity: 0.8) {
  opacity: $opacity;
}

@mixin magic ($left: white, $right: black) {
  background: linear-gradient(270deg, $left, $right);
  background-size: 200% 200%;

  -webkit-animation: Animagic 6s ease infinite;
  -moz-animation: Animagic 6s ease infinite;
  animation: Animagic 6s ease infinite;

  @-webkit-keyframes Animagic {
    0%    {background-position:13% 0%}
    50%   {background-position:88% 100%}
    100%  {background-position:13% 0%}
  }
  @-moz-keyframes Animagic {
    0%    {background-position:13% 0%}
    50%   {background-position:88% 100%}
    100%  {background-position:13% 0%}
  }
  @keyframes Animagic {
    0%    {background-position:13% 0%}
    50%   {background-position:88% 100%}
    100%  {background-position:13% 0%}
  }
}
