$black: #101010;
$white: #f3f3f3;
$red: #d71153;
$grey: #4d4d4d;
$blue: #0a8cd5;
$teal: #099490;

@mixin glow ($color) {
  box-shadow: 0px 0px 20px fade-out($color, 0.8);
}

.black { color: $black }
.black-border { border-color: $black; }
.black-bg { background-color: $black; }
.black-glow { @include glow($black); }

.white { color: $white }
.white-border { border-color: $white; }
.white-bg { background-color: $white; }
.white-glow { @include glow($white); }

.red { color: $red }
.red-border { border-color: $red }
.red-bg { background-color: $red }
.red-glow { @include glow($red); }

.blue { color: $blue }
.blue-border { border-color: $blue }
.blue-bg { background-color: $blue }
.blue-glow { @include glow($blue); }

.transparent { color: transparent; }
.transparent-border { border-color: transparent; }
.transparent-bg { background-color: transparent; }
.transparent-glow { @include glow(transparent); }

.black-glow { @include glow($black); }
.grey { color: $grey; }
.grey-border { border-color: $grey; }
.grey-bg { background-color: $grey; }
.grey-glow { @include glow($grey); }

.teal { color: $teal; }
.teal-border { border-color: $teal; }
.teal-bg { background-color: $teal; }
.teal-glow { @include glow($teal); }